<link rel='stylesheet' href='/stylesheets/style.css' />

<footer>
    <div class="footer-content">
      <button id="back-to-top-btn" onclick="scrollToTop()">Back to Top</button>
     
      <p>&copy; 2023 PINTAC. All rights reserved.</p>
      <p>Contact: info.contact@help.com</p>
    </div>
  </footer>
  
  <script>
    
    function scrollToTop() {
    window.scrollTo({
      top: 0,
      behavior: 'smooth'
    });
  }
    // window.addEventListener('DOMContentLoaded', () => {
    //   const menuItems = document.querySelectorAll('#footer-menu li');
    //   menuItems.forEach((item) => {
    //     item.style.display = 'inline-block';
    //     item.style.marginRight = '10px';
    //   });
    // });
  </script>
  