<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pintac</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <div class="header-menu">
        <button type="button" onclick="location.href='/Boards/new'" <%= title === 'Add Board' ? 'class="active"' : '' %>>Create Board</button>
        <button type="button" onclick="location.href='/Boards/new'" <%= title === 'All Boards' ? 'class="active"' : '' %>>View all Boards</button>
        <button type="button" onclick="location.href='/Pintac/new'" <%= title === 'Add Pin' ? 'class="active"' : '' %>>ADD Pin</button>
        <button type="button" onclick="location.href='/auth/google'" class="login">LOG IN</button>
        <button type="button" onclick="location.href='/logout'">LOG OUT</button>
    </div>  
  </body>
  
      
   
    

  
