<!DOCTYPE html>
<html lang="en">
</head>
<body>
  <nav>
    <button onclick="location.href='/Pintac'" <%= title === 'All Pins' ? 'class="active"' : '' %>>ALL Pins</button>
    <% if (user) { %>
      <button onclick="location.href='/Boards/new'" <%= title === 'Add Board' ? 'class="active"' : '' %>>ADD Board</button>
      <button onclick="location.href='/pins/new'" <%= title === 'Add Pin' ? 'class="active"' : '' %>>ADD Pin</button>
      <button onclick="location.href='/logout'">LOG OUT</button>
    <% } else { %>
      <button onclick="location.href='/auth/google'" class="login">LOG IN&nbsp;&gt;</button>
    <% } %>
  </nav>
</body>
</html>