<!DOCTYPE html>
<html>
<head>
  <title>Pintacs - Pin Details</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
  
  <h1>Pin Details</h1>
  <div class="/pin">
    <h2><%= pin.title %></h2>
    <p><%= pin.description %></p>
    <img src="<%= pin.image %>" alt="Pin Image">
  </div>
  <%- include('./partials/footer') %>
</body>
</html>
